.component-container {
  padding: 20px;
}


.plan-actions {
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.action-button {
  flex: 1 1 45%;
  max-width: 45%;
  margin-bottom: 10px;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-top: 20px;

  .action-button {
    flex: 1 1 45%;
    max-width: 45%;
    margin-bottom: 10px;
    text-align: center;
  }

  .excel-icon {
    margin-right: 8px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    left: -4px;
  }
}

@media (min-width: 1024px) {
  .actions.full-screen {
    .action-button {
      flex: 1 1 45%;
      max-width: 20%;
    }
  }

}

.plan-header {
  .plan-name {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
}

.plan-content {
  text-align: left;
  text-align-last: left;
  margin-left: 15px;

  @media (max-width: 500px) {
    font-size: 12px;
  }
}

span {
  color: inherit;
}

.short-text {
  display: none;
}

@media (max-width: 500px) {
  .short-text {
    display: inline;
  }

  .full-text {
    display: none;
  }
}

/* Client plan list */

.plan-list-container {
  margin-top: 30px;
  max-width: 100%;

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
}

.plan-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  @media (max-width: 500px) {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  .plan-card {
    padding: 20px;
    position: relative;
    flex: 1 1 45%;
    max-width: 100%;

    .plan-name {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name {
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 80%;

        @media (max-width: 380px) {
          font-size: 15px;
        }
      }

      .delete-button:hover {
        .delete-icon {
          color: red;
        }
      }

      .delete-icon {
        color: aliceblue;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }
    }

    .plan-list-content {
      @media (max-width: 500px) {
        font-size: 12px;
      }

      @media (max-width: 380px) {
        font-size: 10px;
      }
    }

    .plan-actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;

      button {
        display: flex;
        align-items: center;

        .preview-icon {
          margin-right: 5px;
        }
      }
    }
  }
}
