<div class="not-expanded-box" *ngIf="!isBoxExpanded">
  <h1 class="header" *ngIf="window.innerWidth > 650">Plany</h1>
  <div class="content">
    <img ngSrc="/icons/workout.png" alt="Workout creator Icon" class="workout-creator-image" width="136" height="136"/>
  </div>
</div>

<button class="back-arrow" *ngIf="isBoxExpanded && selectedComponent" (click)="goBack()">
  <span class="material-icons">arrow_back</span>
</button>

<button *ngIf="isBoxExpanded" (click)="close($event)" class="close-button">&times;</button>

<div class="expanded-box" *ngIf="isBoxExpanded">
  <div class="training-plans-container" *ngIf="!selectedComponent">
    <div class="training-plan-card" (click)="selectComponent('workout-creator')">
      <div class="image-container">
        <img src="/images/workout-creator.jpg" alt="Creator Planów Treningowych" />
      </div>
      <div class="content-container">
        <h2>Kreator Planów Treningowych</h2>
        <p>Stwórz spersonalizowany plan treningowy dostosowany do Twoich potrzeb.</p>
      </div>
    </div>

    <div class="training-plan-card" (click)="selectComponent('workout-library-private')">
      <div class="image-container">
        <img src="/images/private-workout-libary.jpg" alt="Moje Plany" />
      </div>
      <div class="content-container">
        <h2>Moje Plany</h2>
        <p>Twoja prywatna biblioteka planów treningowych.</p>
      </div>
    </div>

    <div class="training-plan-card" (click)="selectComponent('workout-library-public')">
      <div class="image-container">
        <img src="/images/public-workout-libary.webp" alt="Biblioteka Planów" />
      </div>
      <div class="content-container">
        <h2>Biblioteka Planów</h2>
        <p>Odkryj plany treningowe udostępnione do ogólnego użytku.</p>
      </div>
    </div>
  </div>

    <ng-container [ngSwitch]="selectedComponent">
      <app-workout-creator *ngSwitchCase="'workout-creator'"></app-workout-creator>
      <app-workout-libary-private *ngSwitchCase="'workout-library-private'"></app-workout-libary-private>
      <app-workout-libary-public *ngSwitchCase="'workout-library-public'"></app-workout-libary-public>
    </ng-container>

</div>
