<footer class="footer">
  <div class="footer-content">
    <div class="brand-info">
      <h2>LiftLogixCoach</h2>
    </div>
    <div class="links">
      <a href="#">Regulamin</a>
    </div>
    <div class="social-media">
      <a href="https://www.facebook.com/profile.php?id=61561644931965" target="_blank">
        <img ngSrc="/icons/facebook.png" alt="Instagram" height="24" width="24">
      </a>
      <a href="https://www.instagram.com/lift.logix?igsh=Nmw0MmRocG9ic3F0" target="_blank">
        <img ngSrc="/icons/instagram.png" alt="Facebook" height="24" width="24">
      </a>
      <a href="https://youtube.com/@liftlogix?si=PNDJG5HXGP4hNbhL" target="_blank">
        <img ngSrc="/icons/youtube.png" alt="YouTube" height="24" width="24">
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 LiftLogixCoach. Wszelkie prawa zastrzeżone.</p>
  </div>
</footer>
