<div class="main-container">
  <a routerLink="/" class="back-link">
    <i class="bx bxs-left-arrow-alt"></i>
  </a>

  <div class="wrapper">
    <form>
      <h1>Rejestracja</h1>

      <div class="success-error-container">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      </div>

      <div class="input-box">
        <input type="text" placeholder="Imię" [(ngModel)]="formData.first_name" name="email" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Nazwisko" [(ngModel)]="formData.last_name" name="email" required>
      </div>
      <div class="input-box">
        <input type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" required>
      </div>
      <div class="input-box">
        <input [type]="passwordFieldType" placeholder="Hasło" [(ngModel)]="formData.password" name="email" required>
        <i class='bx bxs-show' (click)="togglePasswordField()" aria-hidden="true"></i>
      </div>
      <div class="input-box">
        <input [type]="passwordFieldType" placeholder="Potwierdź hasło" [(ngModel)]="formData.confirm_password" name="email" required>
        <i class='bx bxs-show' (click)="togglePasswordField()" aria-hidden="true"></i>
      </div>
    </form>

    <button type="submit" (click)="handleSubmit($event)" class="btn">Zarejestruj</button>

    <div class="login-link">
      <p>Posiadasz już konto?<a routerLink="/login"> Zaloguj się</a></p>
    </div>
  </div>
</div>
