<div class="main-container">
  <a routerLink="/login" class="back-link">
    <i class="bx bxs-left-arrow-alt"></i>
  </a>

  <div class="wrapper">
    <form>
      <h1>Resetuj hasło</h1>

      <div class="success-error-container">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      </div>

      <div class="input-box">
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
      </div>
    </form>

    <button type="submit" (click)="handleSubmit()" class="btn">Dalej</button>
  </div>
</div>
