<div class="container">
  <h3>Resetuj hasło</h3>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <form *ngIf="!successMessage" (submit)="handleSubmit()">
    <div class="form-group">
      <label>Email:</label>
      <input type="email" placeholder="Enter" [(ngModel)]="email" name="email" required>
      <button type="submit">Wyślij</button>
    </div>
  </form>
  <p>Masz już konto? <a routerLink="/login"><button>Zaloguj się</button></a></p>
</div>
