<div class="hero">
  <nav class="navbar">
    <img ngSrc="/images/logo.svg" alt="LiftLogixCoach Logo" class="logo" height="128" width="128">
    <ul class="nav-links">
      <li><a href="#">O nas</a></li>
      <li><a href="#">Funkcjonalności</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
    <button class="btn login-btn">Zaloguj</button>
  </nav>

  <div class="hero-content">
    <h1>Twoje idealne narzędzie do trójboju siłowego!</h1>
    <h2>Osiągnij swoje cele dzięki LiftLogixCoach</h2>
    <p>Zarządzaj swoimi klientami, planuj treningi i śledź postępy — wszystko w jednym miejscu. Zacznij już dziś!</p>
    <button class="btn get-started-btn" routerLink="/register">Zacznij teraz!</button>
  </div>
</div>
