<div class="hero" (click)="closeMenu()">
  <nav class="navbar">
    <img ngSrc="/images/logo-light.svg" alt="LiftLogixCoach Logo" class="logo" height="128" width="128">

    <div class="icon-container">
      <mat-icon class="icon" (click)="toggleMenu($event)">menu</mat-icon>
      <a href="/login" class="icon"><mat-icon>login</mat-icon></a>
    </div>

    <ul class="nav-links">
      <li><a href="#">O nas</a></li>
      <li><a href="#">Funkcjonalności</a></li>
      <li><a href="#">Kontakt</a></li>
      <li><a href="/login">Zaloguj</a></li>
    </ul>
    <div class="dropdown-menu" *ngIf="isMenuOpen">
      <ul>
        <li><a href="#">O nas</a></li>
        <li><a href="#">Funkcjonalności</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </div>
  </nav>

  <div class="hero-content">
    <h1>Twoje idealne narzędzie do trójboju siłowego!</h1>
    <h2>Osiągnij swoje cele dzięki LiftLogixCoach</h2>
    <p>Zarządzaj swoimi klientami, planuj treningi i śledź postępy — wszystko w jednym miejscu. Zacznij już dziś!</p>
    <button class="btn get-started-btn" routerLink="/register">Zacznij teraz!</button>
  </div>
</div>
