html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url('/images/home-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  position: fixed; /* lub sticky */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* ustawić odpowiednią wartość z-index, aby nawigacja była na wierzchu */
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 25px;
}

.hero-content {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
}

.btn {
  background-color: darkviolet;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}
