.hero {
  background-image: url('/images/home-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar .logo {
  display: block;
}

.icon-container {
  display: flex;
  gap: 35px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 1100;
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  transition: 0.3s;
}

.icon {
  display: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.show {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1000;
}

.show .nav-links li {
  margin: 10px 0;
}

li:hover {
  scale: 1.2;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  max-width: 80%;
}

.btn {
  background-color: darkviolet;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.btn:hover {
  background-color: darkmagenta;
}

.dropdown-menu {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .nav-links {
    display: none;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  .icon {
    display: block;
    color: white;
    font-size: 32px;
    scale: 1.4;
  }

  .dropdown-menu {
    display: block;
    position: absolute;
    top: 65px;
    right: 65px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-menu ul li {
    margin: 10px 0 10px 17px;
    width: 80%;
  }

  .dropdown-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    width: fit-content;
  }

  .dropdown-menu ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .show {
    display: flex;
  }
}

@media (max-width: 480px) {
  .hero-content {
    font-size: 14px;
  }

  .btn {
    padding: 6px 12px;
    font-size: 12px;
  }
}
