<div class="application-box" [ngClass]="{ 'expanded': isBoxExpanded }">
  <button *ngIf="isBoxExpanded" (click)="close($event)" class="close-button">&times;</button>
  <h1 [ngClass]="{ 'expanded': isBoxExpanded }">Zgłoszenia</h1>
  <div *ngFor="let application of displayedApplications; let i = index"
       (click)="openApplicationDialog(application, $event)"
       class="application-container">
    <div class="application-info">
      <p>{{ calculateIndex(i) + 1 }}. {{application.client.first_name}} {{application.client.last_name}}</p>
      <p class="date">Zgłoszono: {{application.submitted_date | date:'dd/MM/yyyy HH:mm'}}</p>
    </div>
    <div *ngIf="isBoxExpanded" class="description">
      <p><strong *ngIf="application.description">Opis:</strong> {{ truncateDescription(application.description) }}</p>
    </div>
    <div class="button-container" *ngIf="application.status === 'PENDING'">
      <button class="app_btn" (click)="accept(application.id, $event)">
        <i class="fas fa-check"></i>
      </button>
      <button class="app_btn rejected" (click)="reject(application.id, $event)">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>

  <mat-paginator *ngIf="isBoxExpanded"
                 [length]="totalApplications"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 (page)="onPageChange($event)"
                 (click)="$event.stopPropagation()"
                 class="paginator">
  </mat-paginator>

  <div *ngIf="isBoxExpanded" class="show-archived-container">
    <label>
      <input type="checkbox" (click)="showArchivedApps()">
      Pokaż archiwalne
    </label>
  </div>
</div>
