<div class="main-container">
  <app-navbar></app-navbar>

  <div class="dashboard-container">
    <div class="wrapper" [ngClass]="{'expanded': expandedBox !== null}">

      <div class="col-left">

        <div class="row1">
          <div class="row1-col-left box" [ngClass]="{'expanded': expandedBox === 'row1-col-left',
          'hidden': expandedBox && expandedBox !== 'row1-col-left'}" (click)="expandBox('row1-col-left')"></div>

          <div class="row1-col-right">
            <div class="row1-col-right-row1 box" [ngClass]="{'expanded': expandedBox === 'row1-col-right-row1',
            'hidden': expandedBox && expandedBox !== 'row1-col-right-row1'}" (click)="expandBox('row1-col-right-row1')"></div>
            <div class="row1-col-right-row2 box" [ngClass]="{'expanded': expandedBox === 'row1-col-right-row2',
             'hidden': expandedBox && expandedBox !== 'row1-col-right-row2'}" (click)="expandBox('row1-col-right-row2')"></div>
          </div>
        </div>

        <div class="row2">
          <div class="row2-col1 box" [ngClass]="{'expanded': expandedBox === 'row2-col1',
          'hidden': expandedBox && expandedBox !== 'row2-col1'}" (click)="expandBox('row2-col1')"></div>
          <div class="row2-col2 box" [ngClass]="{'expanded': expandedBox === 'row2-col2',
          'hidden': expandedBox && expandedBox !== 'row2-col2'}" (click)="expandBox('row2-col2')"></div>
          <div class="row2-col3 box" [ngClass]="{'expanded': expandedBox === 'row2-col3',
          'hidden': expandedBox && expandedBox !== 'row2-col3'}" (click)="expandBox('row2-col3')"></div>
        </div>
      </div>

      <div class="col-right">
        <div class="row-top box" [ngClass]="{'expanded': expandedBox === 'row-top',
        'hidden': expandedBox && expandedBox !== 'row-top'}" (click)="expandBox('row-top')">
          <app-applications [isBoxExpanded]="expandedBox==='row-top'"></app-applications>
        </div>
        <div class="row-bottom box" [ngClass]="{'expanded': expandedBox === 'row-bottom',
        'hidden': expandedBox && expandedBox !== 'row-bottom'}" (click)="expandBox('row-bottom')"></div>
      </div>

    </div>
  </div>

  <app-footer></app-footer>
</div>
