.component-container {
  padding: 20px;
}

.back-arrow {
  position: absolute;
  background: none;
  border: none;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: aliceblue;
}

.back-arrow span {
  font-size: 36px;
}

.back-arrow:hover {
  color: darkviolet;
}

mat-card {
  margin: 10px 0 20px 0;

  mat-card-title {
    font-weight: bold;
  }

  .total {
    color: darkviolet;
    font-weight: bold;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: 1rem;
}

button {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.filter {
  margin-bottom: 5px;
}

canvas {
  min-height: 300px;
}
