.component-container {
  padding: 20px;
}

.back-arrow {
  position: absolute;
  background: none;
  border: none;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: aliceblue;
  z-index: 1000;
}

.back-arrow span {
  font-size: 36px;
}

.back-arrow:hover {
  color: darkviolet;
}

mat-card {
  margin: 10px 0 20px 0;

  mat-card-title {
    font-weight: bold;
  }

  .total {
    color: darkviolet;
    font-weight: bold;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: 1rem;
}

button.filter {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.filter {
  margin-bottom: 5px;
}

canvas {
  min-height: 300px;
}

table {
  width: 100%;
  margin-top: 16px;
  table-layout: fixed;

  .mat-header-cell {
    font-weight: bold;
  }

  .mdc-data-table__cell {
    padding: 0;
  }

  td, th {
    text-align: center;
    vertical-align: middle;
    padding: 0;

    @media (max-width: 650px) {
      font-size: 12px;
    }

    @media (max-width: 470px) {
      font-size: 10px;
    }
  }

  td button {
    @media (max-width: 470px) {
      width: 24px;
      height: 24px;
    }
  }

  td button .material-icons {
    @media (max-width: 470px) {
      font-size: 14px;
    }
  }

  td:nth-child(1), th:nth-child(1) {
    width: 19%;
  }

  td:nth-child(2), th:nth-child(2) {
    width: 19%;
  }

  td:nth-child(3), th:nth-child(3) {
    width: 19%;
  }

  td:nth-child(4), th:nth-child(4) {
    width: 22%;
  }

  td:nth-child(5), th:nth-child(5) {
    width: 21%;
  }
}
