<div class="main-container">
  <a routerLink="/login" class="back-link">
    <i class="bx bxs-left-arrow-alt"></i>
  </a>

  <div class="wrapper">
    <form>
      <h1>Resetuj hasło</h1>

      <div class="success-error-container">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      </div>

      <div class="input-box">
        <input [type]="passwordFieldType" placeholder="Hasło" [(ngModel)]="newPassword" name="newPassword" required>
        <i class='bx bxs-show' (click)="togglePasswordField()" aria-hidden="true"></i>
      </div>
      <div class="input-box">
        <input [type]="passwordFieldType" placeholder="Hasło" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        <i class='bx bxs-show' (click)="togglePasswordField()" aria-hidden="true"></i>
      </div>
    </form>

    <button type="submit" (click)="handleSubmit()" class="btn">Zaloguj</button>
  </div>
</div>
