<div class="container">
  <h3>Resetuj hasło</h3>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <form (submit)="handleSubmit()">
    <div class="form-group">
      <label>Nowe hasło:</label>
      <input type="password" placeholder="Enter" [(ngModel)]="newPassword" name="newPassword" required>
      <label>Potwierdź nowe hasło:</label>
      <input type="password" placeholder="Enter" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      <button type="submit">Resetuj hasło</button>
    </div>
  </form>
</div>
