.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
  font-size: 36px;
}

.tutorial-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  margin: 0 10px 10px 10px;
  background-color: rgba(122, 122, 122, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-radius: 8px;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.subsection-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #ffa500;
}

.description {
  font-size: 16px;
  margin-bottom: 12px;
}

.features-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 12px;

  li {
    font-size: 16px;
    margin-bottom: 8px;

    strong {
      color: #ffa500;
    }

    ul {
      margin-left: 20px;

      li {
        font-size: 14px;
      }
    }
  }
}

.tutorial-container ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

.tutorial-container ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.tutorial-container h2 {
  font-size: 22px;
  color: #ffa500;
  margin-top: 20px;
}

.tutorial-container .description {
  font-size: 16px;
  margin-bottom: 12px;
}

.note {
  margin-top: 20px;
  font-size: 14px;
  font-style: italic;
  color: #ffa500;
}
