<h1 class="title">Zarządzanie Raportami</h1>

<div class="tutorial-container">
  <p class="description">
    Raport można utworzyć z poziomu widoku harmonogramu klienta, każdy raport dotyczy konkretnego treningu i może być utworzony tylko jeden.
  </p>

  <h3 class="subsection-title">Zawartość raportu</h3>
  <p class="description">
    Raport może zawierać następujące informacje:
  </p>
  <ul class="features-list">
    <li>Czy trening został wykonany,</li>
    <li>Uwagi i raport od klienta,</li>
    <li>Uwagi i raport od trenera.</li>
  </ul>

  <h3 class="subsection-title">Sekcja "Raporty"</h3>
  <p class="description">
    Wszystkie raporty są dostępne w dedykowanej sekcji <strong>"Raporty"</strong>, gdzie możemy zarządzać i przeglądać dostępne raporty.
    Sekcja ta oferuje możliwość filtrowania raportów na podstawie:
  </p>
  <ul class="features-list">
    <li>Danych klienta w wyszukiwarce,</li>
    <li>Przedziałów czasowych na podstawie daty rozpoczęcia treningu.</li>
  </ul>
</div>
