<div class="not-expanded-box" *ngIf="!isBoxExpanded">
  <h1 class="header" *ngIf="window.innerWidth > 650">Kreator planów</h1>
  <div class="content">
    <img ngSrc="/icons/workout.png" alt="Workout creator Icon" class="workout-creator-image" width="136" height="136"/>
  </div>
</div>

<div class="expanded-box" *ngIf="isBoxExpanded" (click)="cancelAllActions()">
  <button (click)="close($event)" class="close-button">&times;</button>
  <h1 class="creator-header">Stwórz plan</h1>
  <div class="workout-name-container">
    <input [(ngModel)]="selectedWorkout" (focus)="onWorkoutNameFocus()" (ngModelChange)="updateWorkoutName($event)"/>
    <button class="dropdown-button" (click)="toggleDropdown($event)">
      <mat-icon>expand_more</mat-icon>
    </button>
    <button class="add-button" (click)="openAddWorkoutDialog()">
      <mat-icon>add</mat-icon>
      <span>Dodaj jednostkę treningową</span>
    </button>
    <div *ngIf="showDropdown" class="dropdown-menu">
      <div class="dropdown-item" *ngFor="let workout of workouts" (click)="selectWorkout(workout)">
        <span (click)="selectWorkout(workout)">{{ workout }}</span>
        <mat-icon (click)="removeWorkout(workout, $event)">delete</mat-icon>
      </div>
    </div>
  </div>

  <table class="exercise-table">
    <thead>
    <tr>
      <th>Ćwiczenie</th>
      <th>Ilość serii</th>
      <th>Powtórzenia</th>
      <th>Tempo</th>
      <th>%1RM</th>
      <th>RPE</th>
      <th>Przerwa</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exercise of exercises">
      <td (click)="openEditExerciseNameDialog(exercise)">
        {{ exercise.name }}
      </td>
      <td (click)="editCell(exercise, 'series')">
        <ng-container *ngIf="!isEditing(exercise, 'series'); else editSeries">
          {{ exercise.series || '' }}
        </ng-container>
        <ng-template #editSeries>
          <input #inputElement type="number" [(ngModel)]="exercise.series" (blur)="endEdit(exercise, 'series')" (keydown.enter)="endEdit(exercise, 'series')" />
        </ng-template>
      </td>
      <td class="repetitions-cell" (click)="editCell(exercise, 'repetitions')">
        <ng-container *ngIf="!isEditing(exercise, 'repetitions'); else editRepetitions">
          {{ formatRepetitions(exercise) }}
        </ng-container>
        <ng-template #editRepetitions>
          <div class="repetitions-inputs">
            <input type="number" [(ngModel)]="exercise.repetitionsFrom" (blur)="endEdit(exercise, 'repetitions')" (keydown.enter)="endEdit(exercise, 'repetitions')" placeholder="od" />
             -
            <input type="number" [(ngModel)]="exercise.repetitionsTo" (blur)="endEdit(exercise, 'repetitions')" (keydown.enter)="endEdit(exercise, 'repetitions')" placeholder="do" />
          </div>
        </ng-template>
      </td>
      <td (click)="editCell(exercise, 'tempo')">
        <ng-container *ngIf="!isEditing(exercise, 'tempo'); else editTempo">
          {{ exercise.tempo || '' }}
        </ng-container>
        <ng-template #editTempo>
          <input #inputElement [(ngModel)]="exercise.tempo" (blur)="endEdit(exercise, 'tempo')" (keydown.enter)="endEdit(exercise, 'name')" />
        </ng-template>
      </td>
      <td (click)="editCell(exercise, 'percentage')">
        <ng-container *ngIf="!isEditing(exercise, 'percentage'); else editPercentage">
          {{ exercise.percentage ? exercise.percentage + '%' : '' }}
        </ng-container>
        <ng-template #editPercentage>
          <input #inputElement type="number" [(ngModel)]="exercise.percentage" (blur)="endEdit(exercise, 'percentage')" (keydown.enter)="endEdit(exercise, 'name')" />
        </ng-template>
      </td>
      <td (click)="editCell(exercise, 'rpe')">
        <ng-container *ngIf="!isEditing(exercise, 'rpe'); else editRpe">
          {{ exercise.rpe || '' }}
        </ng-container>
        <ng-template #editRpe>
          <input #inputElement type="number" min="1" max="10" [(ngModel)]="exercise.rpe" (blur)="validateRpe(exercise)" (keydown.enter)="endEdit(exercise, 'name')" />
        </ng-template>
      </td>
      <td class="break-cell" (click)="editCell(exercise, 'break')">
        <ng-container *ngIf="!isEditing(exercise, 'break'); else editBreak">
          {{ exercise.break ? exercise.break.value + exercise.break.unit : '' }}
        </ng-container>
        <ng-template #editBreak>
          <div class="break-input">
            <input type="number" [(ngModel)]="exercise.break.value" (blur)="endEdit(exercise, 'break')" (keydown.enter)="endEdit(exercise, 'break')" />
            <select [(ngModel)]="exercise.break.unit" (blur)="endEdit(exercise, 'break')">
              <option value="s">s</option>
              <option value="min">min</option>
            </select>
          </div>
        </ng-template>
      </td>
      <td>
        <mat-icon class="delete-icon" (click)="removeExercise(exercise)">delete</mat-icon>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="add-exercise-button" (click)="openAddExerciseDialog()">
    <mat-icon>add</mat-icon>
    <span>Dodaj ćwiczenie</span>
  </button>
</div>
