* {
  color: aliceblue;
}

.expanded-box {
  padding: 10px;
  min-height: calc(98vh - 20px);
}

.creator-header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.micro-meso-info {
  width: fit-content;
  margin: 0 auto;
  font-weight: bold;
  font-size: 24px;

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.workout-name-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
  max-width: 100%;
  padding: 5px 5px 0 5px;
  margin: 20px auto 0 auto;
}

mat-option mat-icon:hover {
  color: red !important;
  scale: 1.2;
}

.actions-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.button-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  gap: 16px;

  @media (max-width: 650px) {
    gap: 9px;
  }

  @media (max-width: 350px) {
    gap: 7px;
  }
}

.actions-container button span {
  color: inherit;
}

.actions-container button span.short-text {
  display: none;
}

.actions-container.personal-plan button span.full-text {
  display: none;
}

.actions-container.personal-plan button span.short-text {
  display: inline;
  font-size: 12px;
}

@media (max-width: 650px) {
  .actions-container button span.full-text {
    display: none;
  }

  .actions-container button span.short-text {
    display: inline;
  }
}

.actions-container button {
  @media (max-width: 650px) {
    font-size: 12px;
  }
}

.actions-container mat-checkbox {
  margin-left: 10px;
}

.actions-container .advanced-options-icon {
  margin-left: 9px;
  cursor: pointer;
}

.checkbox-dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: rgb(38, 38, 38);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.meso-macro-inputs {
  display: flex;
  align-items: center;
  margin: 10px auto 0 auto;
  gap: 20px;
  width: fit-content;
}

.mesocycle-management div {
  width: fit-content;
}

.meso-macro-inputs label {
  flex-grow: 1;
}

.exercise-table {
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 999px) {
    min-width: 200px;
  }
}

.exercise-table.personal-plan {
  max-width: 600px;
  min-width: 420px;
}

.exercise-table.basic-options {
  min-width: 400px;
  max-width: 750px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 499px) {
    min-width: 200px;
  }
}

tr.add-exercise-row td {
  align-items: center;
  background-color: transparent;
  border: none;
}

tr.add-exercise-row td button {
  width: 100%;
}

.exercise-table th:nth-child(1),
.exercise-table td:nth-child(1) {
  width: 21%;

  @media (max-width: 999px) {
    width: 42%;
  }

  @media (max-width: 499px) {
    width: 90%;
  }
}

.exercise-table.personal-plan th:nth-child(1) {
  width: 42%;
}

.exercise-table.basic-options th:nth-child(1),
.exercise-table.basic-options td:nth-child(1) {
  width: 42%;

  @media(max-width: 499px) {
    width: 90%;
  }
}

.exercise-table th:nth-child(2),
.exercise-table td:nth-child(2) {
  width: 11%;

  @media (max-width: 999px) {
    width: 19%;
  }

  @media (max-width: 499px) {
    width: 5%;
  }
}

.exercise-table.personal-plan th:nth-child(2) {
  width: 19%;
}

.exercise-table.basic-options th:nth-child(2),
.exercise-table.basic-options td:nth-child(2) {
  width: 19%;

  @media(max-width: 499px) {
    width: 5%;
  }
}

.exercise-table th:nth-child(3),
.exercise-table td:nth-child(3) {
  width: 11%;

  @media (max-width: 999px) {
    width: 19%;
  }

  @media (max-width: 499px) {
    width: 5%;
  }
}

.exercise-table.personal-plan th:nth-child(3) {
  width: 19%;
}

.exercise-table.basic-options th:nth-child(3),
.exercise-table.basic-options td:nth-child(3) {
  width: 19%;

  @media(max-width: 499px) {
    width: 5%;
  }
}

.exercise-table th:nth-child(4),
.exercise-table td:nth-child(4) {
  width: 11%;

  @media (max-width: 999px) {
    width: 18%;
  }
}

.exercise-table.personal-plan th:nth-child(4) {
  width: 18%;
}

.exercise-table.basic-options th:nth-child(4),
.exercise-table.basic-options td:nth-child(4) {
  width: 18%;
}

.exercise-table th:nth-child(5),
.exercise-table td:nth-child(5) {
  width: 11%;
}

.exercise-table th:nth-child(6),
.exercise-table td:nth-child(6) {
  width: 11%;
}

.exercise-table th:nth-child(7),
.exercise-table td:nth-child(7) {
  width: 11%;
}

.exercise-table th:nth-child(8),
.exercise-table td:nth-child(8) {
  width: 11%;
}

.exercise-table td:last-child {
  width: 2%;
}

.exercise-table th, .exercise-table td {
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.exercise-table th {
  background-color: rgba(128, 0, 128, 0.8);
  padding: 10px;

  @media (max-width: 1050px) {
    font-size: 12px;
  }
}

@media (max-width: 499px) {
  .exercise-table.basic-options th {
    font-size: 16px;
  }
}

.exercise-table td {
  background-color: rgba(128, 0, 128, 0.1);
  overflow: hidden;
}

.exercise-table input {
  max-width: 45px;
  border: none;
  box-sizing: border-box;
  background: white;
  color: black;
}

.exercise-table input[placeholder] {
  text-align: center;
}

td.repetitions-cell {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 12%;
}

.repetitions-inputs {
  display: inline-block;
  align-items: center;
  margin: 0 auto;

  input {
    width: 30px;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

td.break-cell {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 12%;
}

.break-input {
  display: inline-block;
  align-items: center;
  margin: 0 auto;

  input {
    width: 35px;
  }

  select {
    width: 40px;
    margin-left: 5px;
    color: black;
  }

  option {
    color: black;
  }
}

.delete-icon {
  cursor: pointer;
  vertical-align: middle;
}

.delete-icon:hover {
  color: red !important;
}

.info-icon {
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.info-icon:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.tooltip {
  position: relative;
}

.tooltip mat-icon {
  vertical-align: middle;
  font-size: 20px;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: aliceblue;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1000;
  top: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text .important-text {
  color: #6A0DAD;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.exercise-table tfoot td {
  text-align: right;
  border: none;
  background: transparent;
}

.delete-exercises {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

/* Style for microcycle */

.tables-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

@media (max-width: 1023px) {
  .tables-container {
    flex-direction: column;
    align-items: center;
  }

  .tables-container.show-advanced {
    min-width: 100%;
  }
}

.tables-container.personal-plan {
  flex-direction: column;
  align-items: center;
}

.microcycle-table-container {
  vertical-align: center;
  height: auto;
  line-height: normal;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.microcycle-table-container h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 26px;

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.microcycle-table-container table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 599px) {
    width: 428px;
  }

  @media (max-width: 521px) {
    width: 357px;
  }

  @media (max-width: 438px) {
    width: 287px;
  }

  @media (max-width: 368px) {
    width: 217px;
  }
}

.microcycle-table-container table.personal-plan {
  width: 428px;
}

.microcycle-table-container th {
  border: 1px solid black;
  background-color: rgba(128, 0, 128, 0.8);
  font-size: 16px;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;

  @media (max-width: 438px) {
    font-size: 13px;
  }

  @media (max-width: 368px) {
    font-size: 12px;
  }
}

.microcycle-table-container td {
  font-size: 14px;
  border: 1px solid black;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  color: black;
  min-height: 40px;
  line-height: 40px;
  height: 40px;

  @media (max-width: 599px) {
    min-height: 30px;
    line-height: 30px;
    height: 30px;
  }

  @media (max-width: 521px) {
    min-height: 20px;
    line-height: 20px;
    height: 20px;
  }

  @media (max-width: 438px) {
    min-height: 10px;
    line-height: 10px;
    height: 10px;
  }
}

.microcycle-table-container table.personal-plan td {
  min-height: 30px;
  line-height: 30px;
  height: 30px;
}

.microcycle-table-container td.hidden-cell {
  color: transparent !important;
  border: none !important;
}

.cell-content {
  position: relative;
  min-height: 50px;
  vertical-align: middle;

  @media (max-width: 599px) {
    min-height: 40px;
  }

  @media (max-width: 521px) {
    min-height: 30px;
  }

  @media (max-width: 438px) {
    min-height: 20px;
  }

  @media (max-width: 368px) {
    min-height: 13px;
  }
}

.workout-names {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
}

.workout-letter {
  background-color: #6A0DAD;
  color: white;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  @media (max-width: 599px) {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
  }

  @media (max-width: 438px) {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
}

table.personal-plan .workout-letter {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
}

.workout-letter:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background-color: #8000FF;
}

.plus-icon {
  display: none;
  cursor: pointer;
  font-size: 36px;
  position: relative;

  @media (max-width: 521px) {
    font-size: 30px;
  }
}

.microcycle-table-container td.active-cell:hover .plus-icon {
  display: inline-block;
}

.microcycle-table-container td.touch-device .plus-icon {
  display: inline-block;
}

.microcycle-cell-dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.microcycle-cell-dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  color: black;
  line-height: 1.2;
}

.microcycle-cell-dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.microcycle-cell-dropdown-menu {
  position: absolute;
  top: 40px;
  right: -75px;
  width: 200px;
  max-height: 100px;
  overflow: auto;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Style for meso and macro cycle */

.meso-macro-tables-container {
  display: none;
}

.meso-macro-tables-container.show-advanced {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (max-width: 1023px) {
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }

  @media (max-width: 690px) {
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
  }
}

.mesocycle-container, .macrocycle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;

  @media (max-width: 1023px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.meso-macro-tables-container h1 {
  width: 100%;
  text-align: center;
  font-size: 26px;
  margin: 0;
  padding: 20px 0;

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.delete-microcycle, .delete-mesocycle {
  margin-bottom: 15px;
}

button.delete-microcycle, button.delete-mesocycle {
  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.mesocycle-table table, .macrocycle-table table {
  border-collapse: collapse;
  table-layout: fixed;
}

.mesocycle-table th, .macrocycle-table th {
  border: 1px solid black;
  background-color: rgba(128, 0, 128, 0.8);
  font-size: 16px;
  width: 70px;
  height: 70px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  @media (max-width: 974px) {
    width: 60px;
    height: 60px;
  }

  @media (max-width: 780px) {
    width: 50px;
    height: 50px;
  }

  @media (max-width: 400px) {
    width: 43px;
    height: 43px;
  }

  @media (max-width: 353px) {
    width: 38px;
    height: 38px;
  }
}

.microcycle-header, .mesocycle-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.microcycle-management, .mesocycle-management {
  display: none;
}

.microcycle-header:hover .microcycle-thead,
.mesocycle-header:hover .mesocycle-thead {
  display: none;
}

.microcycle-header:hover .microcycle-management,
.mesocycle-header:hover .mesocycle-management {
  display: flex;
  gap: 10px;

  @media (max-width: 974px) {
    gap: 5px;
  }

  mat-icon {
    cursor: pointer;
  }

  mat-icon.clear:hover {
    scale: 1.2;
    color: grey !important;
  }

  mat-icon.delete:hover {
    scale: 1.2;
    color: red !important;
  }
}

.touch-device .microcycle-header:hover .microcycle-thead,
.touch-device .mesocycle-header:hover .mesocycle-thead {
  display: flex;
}

.touch-device .microcycle-header:hover .microcycle-management,
.touch-device .mesocycle-header:hover .mesocycle-management{
  display: none;
}

.highlighted-header {
  box-shadow: 0 0 10px 2px white;
  color: aliceblue;
  z-index: 100;
}

.save-plan-button {
  margin: 25px auto 0 auto;
  display: flex;
  width: 90%;

  span {
    color: inherit;
  }
}
