<div class="box-container">
  <div class="notes-container">
    <div *ngFor="let note of notes" class="note-card">

      <div class="note-actions">
        <mat-icon class="delete-icon" (click)="deleteNote(note.id)">delete</mat-icon>
      </div>

      <div *ngIf="editingNoteId !== note.id" (click)="startEditing(note)" class="note-text">
        {{ note.text | slice: 0:160 }}{{ note.text.length > 160 ? '...' : '' }}
      </div>
      <div *ngIf="editingNoteId === note.id" class="edit-container">
        <textarea [(ngModel)]="editedText" rows="3"></textarea>
        <div class="button-container">
          <button (click)="saveNote(note)">Zapisz</button>
          <button (click)="cancelEditing()">Anuluj</button>
        </div>
      </div>
    </div>
  </div>
</div>
