<div class="main-container">

  <div class="profile-picture-container" (mouseover)="showEditButton = true"
       (mouseleave)="showEditButton = false" *ngIf="!showVerificationCodeInput && !showNewEmailInput && !showImageInput">
    <img [ngSrc]="image" height="149" width="149">
    <div class="edit-button" *ngIf="showEditButton" (click)="editImage()">
      <p>Edytuj</p>
    </div>
  </div>

  <h1 *ngIf="!showVerificationCodeInput && !showNewEmailInput && !showImageInput">Profil</h1>

  <div class="error-box" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="error-box" *ngIf="emailForm.get('newEmail')?.invalid && (emailForm.get('newEmail')?.dirty || emailForm.get('newEmail')?.touched)">
    <div *ngIf="emailForm.get('newEmail')?.errors?.['required']">
      Email jest wymagany.
    </div>
    <div *ngIf="emailForm.get('newEmail')?.errors?.['invalidEmail']">
      Wprowadź poprawny adres email.
    </div>
  </div>

  <div *ngIf="showImageInput" class="image-upload">
    <div class="drop-zone"
         [class.drag-over]="draggingOver"
         (drop)="onDrop($event)"
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)">
      <div *ngIf="selectedImage">
        <img [ngSrc]="newImage" height="100" width="100" alt="image">
        <div class="image-del" (click)="deleteNewImage()">x</div>
      </div>

      <div *ngIf="!selectedImage">
        Przeciągnij i upuść zdjęcie tutaj lub
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
      </div>
    </div>
    <div class="button-box">
      <button (click)="cancelImageChange()">Anuluj</button>
      <button (click)="uploadImage()" [disabled]="!selectedImage">Zatwierdź</button>
    </div>
  </div>

  <div class="email-box" *ngIf="!showVerificationCodeInput && !showNewEmailInput && !showImageInput">
    <input id="email" [value]="email" readonly type="email" placeholder="Email">
    <button type="button" (click)="changeEmail()">Zmień</button>
  </div>

  <form [formGroup]="profileForm" *ngIf="!showVerificationCodeInput && !showNewEmailInput && !showImageInput">
    <div class="profile-box">
      <input id="firstName" type="text" placeholder="Imię" formControlName="firstName">
      <input id="lastName" type="text" placeholder="Nazwisko" formControlName="lastName">
      <textarea id="description" placeholder="Opis" formControlName="description"></textarea>
    </div>

    <div class="button-box">
      <button (click)="close()" style="float: left; margin: 10px 0 0 18.2%">Anuluj</button>
      <button type="submit" (click)="saveChanges()" style="float: right; margin: 10px 18.2% 0 0">Zatwierdź</button>
    </div>
  </form>


  <form [formGroup]="emailForm" *ngIf="showVerificationCodeInput && !showNewEmailInput && !showImageInput">

    <input id="verificationCode" formControlName="verificationCode" type="text" placeholder="Podaj kod weryfikacyjny">

    <div class="button-box">
      <button style="float: left; margin: 10px 0 0 18.2%" (click)="cancelEmailChange()">Anuluj</button>
      <button type="submit" style="float: right; margin: 10px 18.2% 0 0" (click)="verifyCode()">Dalej</button>
    </div>
  </form>

  <form [formGroup]="emailForm" *ngIf="showNewEmailInput && !showImageInput">
    <input id="newEmail" formControlName="newEmail" type="text" placeholder="Podaj nowy adres e-mail">

    <div class="button-box">
      <button style="float: left; margin: 10px 0 0 18.2%" (click)="cancelEmailChange()">Anuluj</button>
      <button style="float: right; margin: 10px 18.2% 0 0" (click)="updateEmail()" type="submit" [disabled]="emailForm.invalid">Zatwierdź</button>
    </div>
  </form>
</div>
