<div class="main-container">
  <img ngSrc="/icons/user.jpg" height="30" width="30" *ngIf="!showVerificationCodeInput && !showNewEmailInput">
  <h1 *ngIf="!showVerificationCodeInput && !showNewEmailInput">Profil</h1>

  <div class="error-box" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="error-box" *ngIf="emailForm.get('newEmail')?.invalid && (emailForm.get('newEmail')?.dirty || emailForm.get('newEmail')?.touched)">
    <div *ngIf="emailForm.get('newEmail')?.errors?.['required']">
      Email jest wymagany.
    </div>
    <div *ngIf="emailForm.get('newEmail')?.errors?.['invalidEmail']">
      Wprowadź poprawny adres email.
    </div>
  </div>

  <div class="email-box" *ngIf="!showVerificationCodeInput && !showNewEmailInput">
    <input id="email" [value]="email" readonly type="email" placeholder="Email">
    <button type="button" (click)="changeEmail()">Zmień</button>
  </div>

  <form [formGroup]="profileForm" *ngIf="!showVerificationCodeInput && !showNewEmailInput">
    <div class="profile-box">
      <input id="firstName" type="text" placeholder="Imię" formControlName="firstName">
      <input id="lastName" type="text" placeholder="Nazwisko" formControlName="lastName">
      <textarea id="description" placeholder="Opis" formControlName="description"></textarea>
    </div>

    <div class="button-box">
      <button (click)="close()" style="float: left; margin: 10px 0 0 18.2%">Anuluj</button>
      <button type="submit" (click)="saveChanges()" style="float: right; margin: 10px 18.2% 0 0">Zatwierdź</button>
    </div>
  </form>


  <form [formGroup]="emailForm"
        *ngIf="showVerificationCodeInput && !showNewEmailInput">


    <input id="verificationCode" formControlName="verificationCode" type="text" placeholder="Podaj kod weryfikacyjny">

    <div class="button-box">
      <button style="float: left; margin: 10px 0 0 18.2%" (click)="cancelEmailChange()">Anuluj</button>
      <button type="submit" style="float: right; margin: 10px 18.2% 0 0" (click)="verifyCode()">Dalej</button>
    </div>
  </form>

  <form [formGroup]="emailForm" *ngIf="showNewEmailInput">
    <input id="newEmail" formControlName="newEmail" type="text" placeholder="Podaj nowy adres e-mail">

    <div class="button-box">
      <button style="float: left; margin: 10px 0 0 18.2%" (click)="cancelEmailChange()">Anuluj</button>
      <button style="float: right; margin: 10px 18.2% 0 0" (click)="updateEmail()" type="submit" [disabled]="emailForm.invalid">Zatwierdź</button>
    </div>
  </form>
</div>
