<h1 class="title">Ćwiczenia i Biblioteka Ćwiczeń</h1>

<div class="tutorial-container">
  <p class="description">
    W sekcji <strong>Biblioteka Ćwiczeń</strong> znajdziesz bogatą kolekcję ćwiczeń, które zawierają:
  </p>
  <ul class="features-list">
    <li>Obrazek przedstawiający ćwiczenie.</li>
    <li>Nazwę ćwiczenia.</li>
    <li>Informacje o partiach ciała, które są angażowane podczas jego wykonywania.</li>
    <li>Ikonki:
      <ul>
        <li><strong>Certyfikatu</strong> - oznaczającego, że ćwiczenie zostało <strong>zatwierdzone</strong> przez administratora.</li>
        <li><strong>Typu ćwiczenia</strong> - wskazującego, czy jest to wariant głównego boju w trójboju siłowym.</li>
      </ul>
    </li>
  </ul>

  <p class="description">
    Jeśli ćwiczenie jest wariantem jednego z głównych bojów, jego parametry w planie mogą być automatycznie dostosowywane
    na podstawie <strong>rekordu klienta</strong> w danym boju oraz współczynnika trudności danego ćwiczenia:
  </p>
  <p class="description">
    <strong>Ciężar maksymalny</strong> = rekord klienta * współczynnik trudności.
  </p>

  <p class="description">
    Biblioteka Ćwiczeń oferuje wygodne opcje filtracji:
  </p>
  <ul class="features-list">
    <li>Po <strong>certyfikacie</strong>.</li>
    <li>Po <strong>partiach ciała</strong>, które są angażowane w ćwiczeniu.</li>
    <li>Po <strong>typie ćwiczenia</strong>.</li>
  </ul>

  <p class="description">
    Znajdziesz tam również <strong>wyszukiwarkę</strong>, dzięki której możesz szybko znaleźć interesujące Cię ćwiczenie.
  </p>

  <p class="description">
    Dla każdego ćwiczenia możesz podejrzeć szczegóły, które zawierają:
  </p>
  <ul class="features-list">
    <li>Szczegółowy opis ćwiczenia.</li>
    <li><strong>Odtwarzacz YouTube</strong> z filmem prezentującym wykonanie ćwiczenia.</li>
  </ul>

  <p class="description">
    Każdy trener ma również możliwość <strong>tworzenia własnych ćwiczeń</strong>, które będą dostępne dla wszystkich użytkowników w bibliotece.
  </p>
</div>
