<h2 mat-dialog-title>{{ data.client.first_name }} {{ data.client.last_name }}</h2>
<div mat-dialog-content>
  <p>{{ data.description }}</p>
  <p>Zgłoszono: {{ data.submitted_date | date:'short' }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="sendMessage()">
    <mat-icon>email</mat-icon>
    Wyślij wiadomość
  </button>
  <span class="spacer"></span>
  <button mat-button color="primary" *ngIf="data.status == 'PENDING'" (click)="accept(data.id)">Accept</button>
  <button mat-button color="warn" *ngIf="data.status == 'PENDING'" (click)="reject(data.id)">Reject</button>
</div>

