* {
  color: aliceblue;
}

.container {
  padding: 10px;
}

.header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.exercise-table {
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 999px) {
    min-width: 200px;
  }
}

.exercise-table.personal-plan {
  max-width: 600px;
  min-width: 420px;
}

tr.add-exercise-row td {
  align-items: center;
  background-color: transparent;
  border: none;
}

tr.add-exercise-row td button {
  width: 100%;
}

.exercise-table th:nth-child(1),
.exercise-table td:nth-child(1) {
  width: 21%;

  @media (max-width: 999px) {
    width: 42%;
  }

  @media (max-width: 499px) {
    width: 90%;
  }
}

.exercise-table.personal-plan th:nth-child(1) {
  width: 42%;
}

.exercise-table th:nth-child(2),
.exercise-table td:nth-child(2) {
  width: 11%;

  @media (max-width: 999px) {
    width: 19%;
  }

  @media (max-width: 499px) {
    width: 5%;
  }
}

.exercise-table.personal-plan th:nth-child(2) {
  width: 19%;
}

.exercise-table th:nth-child(3),
.exercise-table td:nth-child(3) {
  width: 11%;

  @media (max-width: 999px) {
    width: 19%;
  }

  @media (max-width: 499px) {
    width: 5%;
  }
}

.exercise-table.personal-plan th:nth-child(3) {
  width: 19%;
}

.exercise-table th:nth-child(4),
.exercise-table td:nth-child(4) {
  width: 11%;

  @media (max-width: 999px) {
    width: 18%;
  }
}

.exercise-table.personal-plan th:nth-child(4) {
  width: 18%;
}

.exercise-table th:nth-child(5),
.exercise-table td:nth-child(5) {
  width: 11%;
}

.exercise-table th:nth-child(6),
.exercise-table td:nth-child(6) {
  width: 11%;
}

.exercise-table th:nth-child(7),
.exercise-table td:nth-child(7) {
  width: 11%;
}

.exercise-table th:nth-child(8),
.exercise-table td:nth-child(8) {
  width: 11%;
}

.exercise-table td:last-child {
  width: 2%;
}

.exercise-table th, .exercise-table td {
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.exercise-table th {
  background-color: rgba(128, 0, 128, 0.8);
  padding: 10px;

  @media (max-width: 1050px) {
    font-size: 12px;
  }
}

.exercise-table td {
  cursor: pointer;
  background-color: rgba(128, 0, 128, 0.1);
  overflow: hidden;
}

.exercise-table input {
  max-width: 45px;
  border: none;
  box-sizing: border-box;
  background: white;
  color: black;
}

.exercise-table input[placeholder] {
  text-align: center;
}

td.repetitions-cell {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 12%;
}

.repetitions-inputs {
  display: inline-block;
  align-items: center;
  margin: 0 auto;

  input {
    width: 30px;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

td.weight-cell {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

td.break-cell {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 12%;
}

.break-input {
  display: inline-block;
  align-items: center;
  margin: 0 auto;

  input {
    width: 35px;
  }

  select {
    width: 40px;
    margin-left: 5px;
    color: black;
  }

  option {
    color: black;
  }
}

.delete-icon, .options-icon {
  cursor: pointer;
  vertical-align: middle;
}

.delete-icon:hover {
  color: red !important;
}

.options-icon:hover {
  color: blue !important;
}

.info-icon {
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.info-icon:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.tooltip {
  position: relative;
}

.tooltip mat-icon {
  vertical-align: middle;
  font-size: 20px;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: aliceblue;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  top: 125%;
  left: 50%;
  margin-left: -100px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text .important-text {
  color: #6A0DAD;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.exercise-table tfoot td {
  text-align: right;
  border: none;
  background: transparent;
}

.delete-exercises {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.save-workout-button {
  margin: 25px auto 0 auto;
  display: flex;
  width: 90%;

  span {
    color: inherit;
  }
}
