<nav class="navbar">
  <div class="navbar-left">
    <img src="/images/logo-light.svg" alt="LiftLogixCoach Logo" class="logo" height="80" width="80">
    <span class="app-name">LiftLogixCoach</span>
  </div>
  <div class="navbar-right">

    <div class="notifications-menu">
      <i class="icon notifications-icon" (click)="toggleNotifications()">🔔</i>
      <span *ngIf="countUnreadNotifications() > 0" class="unread-count">{{ countUnreadNotifications() }}</span>
      <div class="notifications-dropdown" *ngIf="notificationsOpen" #messagesDropdown (scroll)="onScroll($event)">
        <div class="notification-item"
             *ngFor="let notification of notifications" [ngClass]="{'unread': getNotificationClass(notification)}"
             (click)="markNotificationAsRead(notification); openNotificationDetails(notification)">
          <div class="notification-content">
            <p class="notification-header"> {{getNotificationType(notification)}} </p>
            <p class="notification-text"> {{getNotificationText(notification)}} </p>
            <span class="date">{{ notification.timestamp | date:'dd-MM-yyyy HH:mm' }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="messages-menu">
      <i class="icon messages-icon" (click)="toggleMessages()">✉️</i>
      <span *ngIf="countUnreadMessages() > 0" class="unread-count">{{ countUnreadMessages() }}</span>
      <div class="messages-dropdown" *ngIf="messagesOpen" #messagesDropdown (scroll)="onScroll($event)">
        <div class="message-item"
             *ngFor="let message of messages" [ngClass]="{'unread': getMessageClass(message) }"
             (click)="markMessageAsRead(message); onChatOpen(message.senderId, message.recipientId)">
          <div class="user-image">
            <img [src]="getUserImage(message.senderId, message.recipientId)" alt="User" />
          </div>
          <div class="message-content">
            <p class="user-name">{{ getUserName(message.senderId, message.recipientId) }}</p>
            <p class="message-text">{{ message.content }}</p>
            <span class="date">{{ message.timestamp | date:'dd-MM-yyyy HH:mm' }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="settings-menu">
      <i class="icon settings-icon" (click)="toggleSettings()">⚙️</i>
      <div class="dropdown-menu" *ngIf="settingsOpen">
        <a class="settings-label" (click)="goToSecurity()">Bezpieczeństwo</a>
        <div class="language-selector">
          <i class="flag-icon poland-icon">🇵🇱</i>
          <div class="toggle-switch">
            <label class="switch">
              <input type="checkbox" (change)="toggleLanguage()">
              <span class="slider round"></span>
            </label>
          </div>
          <i class="flag-icon uk-icon">🇬🇧</i>
        </div>
        <label class="dark-mode">
          <input type="checkbox" (change)="toggleDarkMode()">
          Tryb Ciemny
        </label>
      </div>
    </div>

    <div class="profile-menu">
      <img [ngSrc]="image" height="36" width="36" alt="Profile" class="profile-icon" (click)="toggleMenu()">
      <div class="dropdown-menu" *ngIf="menuOpen">
        <a (click)="goToProfile()">Profil</a>
        <a (click)="logOut()">Wyloguj</a>
      </div>
    </div>
  </div>
</nav>
