<h1 class="title">Harmonogram Trenera</h1>

<div class="tutorial-container">
  <p class="description">
    Harmonogram trenera umożliwia wyświetlanie tygodniowego, godzinnego rozkładu treningów z podopiecznymi. Wyświetlane są godziny treningu i imię i nazwisko klienta.
  </p>

  <h3 class="subsection-title">Zarządzanie treningami</h3>
  <p class="description">
    Z poziomu harmonogramu trener ma możliwość:
  </p>
  <ul class="features-list">
    <li>podglądu i edycji jednostki treningowej,</li>
    <li>zmiany daty treningu,</li>
    <li>zmiany na trening indywidualny - trening zostanie wtedy oznaczy do indywidualnego wykonania przez podopiecznego i usunięty z harmonogramu</li>
  </ul>
</div>
