<app-back-arrow (goBack)="onGoBack()"></app-back-arrow>

<div class="plan-view-container">

  <h1 class="view-header" *ngIf="!isPersonalPlan">Plan</h1>

  <div class="tables-container" [ngClass]="{'personal-plan': (isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)}">
    <div class="meso-macro-tables-container">
      <div class="macrocycle-container" *ngIf="mesocycles.length > 1">
        <h1>Makrocykl</h1>

        <div class="macrocycle-table">
          <table>
            <thead>
            <tr>
              <th *ngFor="let mesocycle of mesocycles.slice(0, 5); let i = index"
                  [ngClass]="{'highlighted-header': mesocycle == selectedMesocycle}"
                  (click)="selectMesocycle(i)">
                <div class="mesocycle-header">
                  <span class="mesocycle-thead">
                    {{ toRoman(i + 1) }}
                  </span>
                </div>
              </th>
            </tr>
            <tr>
              <th *ngFor="let mesocycle of mesocycles.slice(5); let i = index"
                  [ngClass]="{'highlighted-header': mesocycle == selectedMesocycle}"
                  (click)="selectMesocycle(i + 5)">
                <div class="mesocycle-header">
                <span class="mesocycle-thead">
                  {{ toRoman(i + 6) }}
                </span>
                </div>
              </th>
            </tr>
            </thead>
          </table>
        </div>
      </div>

      <div class="mesocycle-container" *ngIf="microcycles.length > 1">
        <h1>Mezocykl</h1>

        <div class="mesocycle-table">
          <table>
            <thead>
            <tr>
              <th *ngFor="let microcycle of microcycles.slice(0, 5); let i = index"
                  [ngClass]="{'highlighted-header': microcycle == selectedMicrocycle}"
                  (click)="selectMicrocycle(i)">
                <div class="microcycle-header">
                  <span class="microcycle-thead">
                    {{ toRoman(i + 1) }}
                  </span>
                </div>
              </th>
            </tr>
            <tr>
              <th *ngFor="let microcycle of microcycles.slice(5); let i = index"
                  [ngClass]="{'highlighted-header': microcycle == selectedMicrocycle}"
                  (click)="selectMicrocycle(i + 5)">
                <div class="microcycle-header">
                  <span class="microcycle-thead">
                    {{ toRoman(i + 6) }}
                  </span>
                </div>
              </th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <div class="microcycle-container">
      <h1>Mikrocykl</h1>

      <div class="microcycle-table" [ngClass]="{'personal-plan' : isPersonalPlan && window.innerWidth > 1023 && !isFullScreen}">
        <table>
          <thead>
          <tr>
            <th *ngFor="let day of daysInWeek">{{ day }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of microcycleTable">
            <td *ngFor="let cell of row"
                [ngClass]="{
                  'hidden-cell': cell === 0,
                  'active-cell': cell !== 0,
                }">
              <div class="cell-content" *ngIf="cell !== 0">
                <div class="workout-names">
                  <span *ngFor="let workout of getWorkoutsForDay(cell)" class="workout-letter" (click)="selectWorkout(workout.name)"
                        [ngClass]="{'highlighted-letter': workout === selectedWorkout}">
                    {{ getWorkoutInitials(workout.name) }}
                  </span>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="workout-container">
    <h1>Trening</h1>

    <table class="exercise-table" [ngClass]="{'personal-plan': isPersonalPlan && window.innerWidth > 1023 && !isFullScreen}">
      <thead>
      <tr>
        <th>Ćwiczenie</th>
        <th *ngIf="window.innerWidth > 499">Ilość serii</th>
        <th *ngIf="window.innerWidth > 499">Powtórzenia</th>
        <th *ngIf="window.innerWidth > 499">Ciężar</th>
        <th *ngIf="window.innerWidth > 999 && !(isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)"> %1RM </th>
        <th *ngIf="window.innerWidth > 999 && !(isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)"> Tempo </th>
        <th *ngIf="window.innerWidth > 999 && !(isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)"> RPE </th>
        <th *ngIf="window.innerWidth > 999 && !(isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)">Przerwa</th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let exercise of workoutExercises">
        <td>
          {{ exercise.exerciseName }}
          <mat-icon class="info-icon" (click)="openExerciseDetails(exercise.exerciseId, $event)">info</mat-icon>
        </td>
        <td *ngIf="window.innerWidth > 499">
          {{ exercise.series || '' }}
        </td>
        <td *ngIf="window.innerWidth > 499">
          {{ formatRepetitions(exercise) }}
        </td>
        <td *ngIf="window.innerWidth > 499">
          {{ exercise.weight ? exercise.weight + 'kg' : '' }}
        </td>
        <td *ngIf="window.innerWidth > 999 && !(isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)">
          {{ exercise.percentage ? exercise.percentage + '%' : '' }}
        </td>
        <td *ngIf="window.innerWidth > 999 && !(isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)">
          {{ exercise.tempo || '' }}
        </td>
        <td *ngIf="window.innerWidth > 999 && !(isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)">
          {{ exercise.rpe || '' }}
        </td>
        <td *ngIf="window.innerWidth > 999 && !(isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)">
          {{ exercise.breakTime.value ? exercise.breakTime.value + exercise.breakTime.unit : '' }}
        </td>
        <td class="workout-exercise-details-column"
            *ngIf="window.innerWidth < 1000 || (isPersonalPlan && window.innerWidth > 1023 && !isFullScreen)">
          <mat-icon (click)="openWorkoutExerciseDetails(exercise)">more_vert</mat-icon>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
