<div class="not-expanded-box" *ngIf="!isBoxExpanded">
  <h1 class="header">Ćwiczenia</h1>
  <div class="content">
    <img ngSrc="/icons/barbell.svg" alt="Exercise Icon" class="exercise-image" width="200" height="200"/>
  </div>
</div>

<div class="expanded-box" *ngIf="isBoxExpanded">
  <div class="exercise-library-header">
    <h1 class="library-title">Biblioteka ćwiczeń</h1>
    <div class="header-actions">
      <div class="filter-exercises">
        <div (click)="toggleDropdown($event)">
          <img ngSrc="/icons/filter.png" alt="Filter Icon" class="filter-icon" height="24" width="24"/>
          <span>Filtruj</span>
        </div>

        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <button (click)="clearFilters($event)">Wyczyść filtry</button>
          <label *ngFor="let part of body_parts" (click)="onCheckboxChange($event)">
            <input type="checkbox" [value]="part" [checked]="selectedBodyParts.includes(part)"/>
            {{ part }}
          </label>
        </div>
      </div>

      <div class="add-exercise" (click)="addExercise($event)">
        <img ngSrc="/icons/plus.svg" alt="Plus Icon" class="plus-icon" height="24" width="24"/>
        <span>Dodaj ćwiczenie</span>
      </div>
    </div>
  </div>

  <div class="search-container">
    <input type="text" class="search-input" placeholder="Szukaj ćwiczeń"/>
  </div>

  <div class="exercise-grid">
    <div class="exercise-card" *ngFor="let exercise of displayedExercises" (click)="openDetails(exercise, $event)">
      <img [src]="exercise.imageSafeUrl" alt="{{exercise.name}} Image" class="exercise-card-image"/>
      <div class="exercise-card-name">{{exercise.name}}</div>
      <div class="exercise-card-body-parts">{{exercise.body_parts.join(', ')}}</div>
    </div>
  </div>

  <mat-paginator *ngIf="isBoxExpanded"
                 [length]="totalExercises"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 (page)="onPageChange($event)"
                 (click)="$event.stopPropagation()"
                 class="paginator">
  </mat-paginator>
</div>
