<div class="not-expanded-box" *ngIf="!isBoxExpanded">
  <h1 class="header" *ngIf="window.innerWidth>650">Ćwiczenia</h1>
  <div class="content">
    <img ngSrc="/icons/barbell.svg" alt="Exercise Icon" class="exercise-image" width="200" height="200"/>
  </div>
</div>

<div class="expanded-box" *ngIf="isBoxExpanded" (click)="cancelAllActions()">
  <button (click)="close($event)" class="close-button">&times;</button>
  <div class="exercise-library-header">
    <h1 class="library-title">Biblioteka ćwiczeń</h1>
    <div class="header-actions">
      <div class="filter-exercises">
        <div (click)="toggleDropdown($event)" class="filter-exercises-icon">
          <img ngSrc="/icons/filter.png" alt="Filter Icon" class="filter-icon" height="24" width="24"/>
          <span>Filtruj</span>
        </div>

        <div class="dropdown-menu" *ngIf="isDropdownOpen" #elem (scroll)="onScroll($event)">
          <button (click)="clearFilters($event)">Wyczyść filtry</button>

          <div class="dropdown-section">
            <h3 class="dropdown-section-title">Certyfikat</h3>
            <label (click)="onCertificatedCheckboxChange($event)">
              <input type="checkbox" [value]="filterCertificated" [checked]="filterCertificated">
              Certyfikat LLC
            </label>
          </div>

          <div class="dropdown-section">
            <h3 class="dropdown-section-title">Typ Ćwiczenia</h3>
            <label *ngFor="let type of exercise_types" (click)="onTypesCheckboxChange($event)">
              <input type="checkbox" [value]="type" [checked]="selectedExerciseTypes.includes(type)">
              {{ exerciseTypesTranslations[type] }}
            </label>
          </div>

          <div class="dropdown-section">
            <h3 class="dropdown-section-title">Partie Ciała</h3>
            <label *ngFor="let part of body_parts" (click)="onCheckboxChange($event)">
              <input type="checkbox" [value]="part" [checked]="selectedBodyParts.includes(part)"/>
              {{ translateBodyParts([part])[0] }}
            </label>
          </div>

        </div>
      </div>

      <div class="add-exercise" (click)="addExercise()">
        <img ngSrc="/icons/plus.svg" alt="Plus Icon" class="plus-icon" height="24" width="24"/>
        <span>Dodaj ćwiczenie</span>
      </div>
    </div>
  </div>

  <div class="search-container">
    <input type="text" class="search-input" placeholder="Szukaj ćwiczeń" (input)="onSearchChange($event)"/>
  </div>

  <div class="exercise-grid">
    <div class="exercise-card" *ngFor="let exercise of displayedExercises" (click)="openDetails(exercise)">

      <div class="icon-container">
        <div class="certified-icon" *ngIf="exercise.certificated">
          <img src="/images/logo.svg" alt="Certificated"
               matTooltip="Certyfikat LLC - ćwiczenie dodane przez administrację"/>
        </div>

        <div class="exercise-type-icon" *ngIf="exercise.exercise_type === 'SQUAT'">
          <img src="/icons/squat.jpg" alt="Squat Icon"
               matTooltip="Ćwiczenie jest wariantem przysiadu - system może w nim
               obliczyć ciężar maksymalny porównując z wynikiem klienta."/>
        </div>
        <div class="exercise-type-icon" *ngIf="exercise.exercise_type === 'DEADLIFT'">
          <img src="/icons/deadlift.png" alt="Deadlift Icon"
               matTooltip="Ćwiczenie jest wariantem wyciskania - system może w nim
               obliczyć ciężar maksymalny porównując z wynikiem klienta."/>
        </div>
        <div class="exercise-type-icon" *ngIf="exercise.exercise_type === 'BENCHPRESS'">
          <img src="/icons/benchpress.webp" alt="Benchpress Icon"
               matTooltip="Ćwiczenie jest wariantem martwego ciągu - system może w nim
               obliczyć ciężar maksymalny porównując z wynikiem klienta."/>
        </div>
      </div>

      <img [src]="exercise.imageSafeUrl" alt="{{exercise.name}} Image" class="exercise-card-image"/>
      <div class="exercise-card-name">{{exercise.name}}</div>
      <div class="exercise-card-body-parts">{{ this.getTranslatedBodyParts(exercise) }}</div>
    </div>
  </div>

  <mat-paginator *ngIf="isBoxExpanded"
                 [length]="totalExercises"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 (page)="onPageChange($event)"
                 class="paginator">
  </mat-paginator>
</div>
